 header {
  background: linear-gradient(to right, #335fb7, #210e52);
  
}

.form-input {
height: 50px;
width: 220px;
border-radius: 4px

}
.search-button {

  background-color: rgba(80,152,230,255)!important;
  border: none!important;
margin-top: 10px;
  color: white!important;
  border-radius: 5px!important;
  width: 220px
}

#city {
  font-size: 25px;
  font-weight: bold;
}